@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic|Varela+Round|Ubuntu+Mono);

body {
  margin: 0;
  color: #333;
  font-family: 'Merriweather', 'Palatino', serif;
  font-size: 16px;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  padding: 0 30px;
}

header.global {
  height: 100px;
  background: #222;
  color: #aaa;

  a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.25s;
  }

  a:hover, a.current {
    color: #fff;
  }

  .logo {
    float: left;
    width: 116px;
    height: 26px;
    margin-top: 40px;
  }

  nav {
    float: right;
    text-align: right;
    margin-top: 52px;

    a {
      margin-left: 1.5em;
    }

  }

}

.content {
  margin: 46px 0;

  a {
    color: #000;
  }

  article {

    h1 {
      color: #aaa;
      font-weight: 100;
      font-size: 42px;
      margin: 0 0 0.5em 0;

      .help {
        font-size: 14px;
        color: #333;
        vertical-align: top;
        cursor: pointer;
      }
    }

    p {
      line-height: 1.5em;
      margin: 0 0 2.1em 0;
    }

    ul {
      margin-top: 0;
    }

    ul li {
      list-style-type: none;
      line-height: 1.5em;
    }

  }

}

.about-wrapper {
  position: relative;
  width: 710px;
  margin: 0 auto;

  article {
    margin-left: 310px;
  }

  .image {
    position: absolute;
    top: 110px;
    left: 0;
    width: 347px;
    height: 371px;
    cursor: pointer;

    .space-oddity {
      position: absolute;
      margin-left: -250px;
      font-size: 13px;
      font-family: 'Varela Round', sans-serif;
      line-height: 1.5em;
      display: none;
    }

    .lyric {
      opacity: 0;
      transition: 0.5s;
    }

    .lyric-animation {
      opacity: 1;
      transition: 0.5s;
    }
  }

  .l1 {
    padding-left: 25px;
  }

  .l2 {
    padding-left: 38px;
  }

  .l3 {
    padding-left: 22px;
  }

  .l4 {
    padding-left: 29px;
  }

  .l5 {
    padding-left: 30px;
  }

  .l6 {
    padding-left: 31px;
  }

  .l7 {
    padding-left: 27px;
  }

  .l8 {
    padding-left: 23px;
  }

  .l9 {
    padding-left: 16px;
  }

  .l10 {
    padding-left: 30px;
  }

  .l11 {
    padding-left: 15px;
  }

}

.social {
  margin-top: 45px;
  text-align: center;

  .icon {
    display: inline-block;
    margin: 0 20px;
    width: 128px;
    height: 128px;
    text-indent: -9999px;
    opacity: 0.15;
    transition: opacity 0.25s;
    overflow: hidden;
  }

  .icon:hover {
    opacity: 1;
  }

  .github {
    background: url("../img/social-sprites.png");
    background-position: 0px 0px;
  }

  .twitter {
    background: url("../img/social-sprites.png");
    background-position: 384px 0px;
  }

  .instagram {
    background: url("../img/social-sprites.png");
    background-position: 256px 0px;
  }

  .email {
    background: url("../img/social-sprites.png");
    background-position: 128px 0px;
  }

}

.form {
  input, textarea {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    padding: 1em;
    width: 32%;
    float: left;
    margin-right: 2%;
    border: 1px solid #aaa;
    transition: border 0.5s;
  }
  input:focus, textarea:focus {
    border: 1px solid #000;
  }
  input.last {
    margin-right: 0!important;
  }
  textarea {
    height: 260px;
    resize: none;
    width: 100%;
    margin-top: 2%;
  }
  .submit {
    width: 25%;
    margin: 2% 0 0 0;
    background: #222;
    color: #fff;
    border-style: none;
  }
}

.project {

  padding: 40px 0;
  border-bottom: 1px solid #ccc;

  .videos {
    width: 1234px;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;

    video {
      width: 1280px;
      height: 720px;
      margin-left: -23px;
    }
  }

  .images {
    text-align: center;

    img {
      width: 46%;
      padding: 0 1.25%;
      height: auto;
      transition: 0.2s all;
      cursor: pointer;
    }

    img:hover {
      transform: scale(1.1,1.1);
    }

    img.full {
      width: auto;
      height: auto;
      padding: 0;
    }

    img.full:hover {
      transform: scale(1,1);
    }
  }
}

.cf {
  clear: both;
}

footer.global {
  background: #222;
  color: #aaa;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;

  a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.25s;
  }
  a:hover {
    color: #fff;
  }
}


pre, code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
}
