{% include: 'header.html' @title:'Richard Denton - Web developer in Melbourne' @description:'Richard Denton is a web developer from Melbourne, Australia' %}

	<section id="content" class="content">
		<div class="about-wrapper">
			<div class="image">
				<img id="rocket" width="347" height="371" class="shake" src="assets/img/rocket.png" alt="Rocket" />
			</div>
			<article>
				<h1 id="title">Greetings</h1>
				<p>I am Richard Denton, a web developer from the<br />
					Melbourne area in Australia.</p>

				<p><span class="l1">As a job, I build websites &amp; web apps.</span><br />
						<span class="l2">They tend to be powered by:</span></p>

				<ul>
					<li class="l3">HTML5, CSS3 &amp; Javascript</li>
					<li class="l4">PHP</li>
					<li class="l5">MySQL</li>
					<li class="l6">Wordpress</li>
					<li class="l7">Sass, Less or Grunt</li>
					<li class="l8">NodeJS</li>
					<li class="l9">WooCommerce, Magento or Shopify</li>
				</ul>
				<p><span class="l10">In my spare time, I like to continue learning</span><br />
					<span class="l11">as much as possible about computer science,</span><br />
					<span class="l12"> alongside developing open source software.</span></p>
				<p>You can find me on <a href="https://github.com/isdampe" rel="nofollow">Github</a>, <a href="https://www.twitter.com/isdampe">Twitter</a>, <a href="https://www.instagram.com/isdampe">Instagram</a> and <a href="http://stackoverflow.com/users/1980110/richard-denton">Stack Overflow</a></p>
			</article>

			{% include: 'social.html' %}

		</div>
	</section>

{% include: 'footer.html' %}
